In [1]:
import pandas as pd
import joblib
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.model_selection import train_test_split

In [2]:
datatest = pd.read_csv("input/test.csv")
diamond_test = pd.get_dummies(datatest)
diamond_test.head()

,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.33,61.9,55.0,4.44,4.42,2.74,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,1,0.41,61.8,54.0,4.79,4.76,2.95,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,2,0.91,62.5,59.0,6.16,6.23,3.87,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,3,0.42,62.6,57.0,4.76,4.80,2.99,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,0.54,61.5,56.0,5.28,5.25,3.24,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [3]:
data_train = pd.read_csv("input/train.csv")
diamond_train = pd.get_dummies(data_train)
diamond_train.head()

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.53,63.4,54.0,5.09,5.13,3.24,7.057,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,0.41,63.0,56.0,4.80,4.75,3.01,6.824,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,0.32,61.6,56.0,4.37,4.39,2.70,6.107,0,0,...,1,0,0,0,0,0,0,1,0,0
3,3,0.31,61.2,56.0,4.34,4.37,2.66,6.390,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,1.35,60.5,56.0,7.19,7.12,4.33,8.741,0,0,...,0,1,0,0,0,0,0,1,0,0

In [4]:
diamond_train.columns

Index(['id', 'carat', 'depth', 'table', 'x', 'y', 'z', 'price', 'cut_Fair',
       'cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_D',
       'color_E', 'color_F', 'color_G', 'color_H', 'color_I', 'color_J',
       'clarity_I1', 'clarity_IF', 'clarity_SI1', 'clarity_SI2', 'clarity_VS1',
       'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2'],
      dtype='object')

In [5]:

X = diamond_train.drop(columns="price")
y = diamond_train["price"]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [7]:
model = RandomForestRegressor( n_estimators = 900)
model.fit(X, y)

RandomForestRegressor(n_estimators=900)

In [8]:
y_pred = model.predict(diamond_test)

In [9]:
y_pred = pd.DataFrame(y_pred, columns=["price"])
y_pred = y_pred.reset_index()
y_pred = y_pred.rename(columns={'index':'id'})

In [10]:
y_pred.head()

   id     price
0   0  6.835986
1   1  6.909308
2   2  8.231597
3   3  6.732737
4   4  7.720306

In [11]:
y_pred.to_csv("output/RandomForestRegressor.csv", header= True, index=False)

In [12]:

model_2 = HistGradientBoostingRegressor()
model_2.fit(X, y)

HistGradientBoostingRegressor()

In [13]:
y_pred_2 = model_2.predict(diamond_test)

In [14]:
y_pred_2 = pd.DataFrame(y_pred_2).reset_index()
y_pred_2 = y_pred_2.rename(columns={"index": "id",0:"price"})

In [15]:
y_pred_2.head()

   id     price
0   0  6.834851
1   1  6.911557
2   2  8.245102
3   3  6.765888
4   4  7.789313

In [16]:
y_pred_2.to_csv("output/HistGradientBoostingRegressor.csv", header= True, index=False)

In [17]:
model_3 = ExtraTreesRegressor(n_estimators = 900,n_jobs =1, min_samples_split= 10, random_state=10, max_features = 0.9, warm_start=True)
model_3.fit(X, y)

ExtraTreesRegressor(max_features=0.9, min_samples_split=10, n_estimators=900,
                    n_jobs=1, random_state=10, warm_start=True)

In [18]:
y_pred_3 = model_3.predict(diamond_test)

In [19]:
y_pred_3 = pd.DataFrame(y_pred_3).reset_index()
y_pred_3 = y_pred_3.rename(columns={"index": "id",0:"price"})

In [20]:
y_pred_3.head()

   id     price
0   0  6.810659
1   1  6.904513
2   2  8.246598
3   3  6.745494
4   4  7.738750

In [21]:
y_pred_3.to_csv("output/ExtraTreesRegressor.csv", header= True, index=False)